Requisitos del Sistema: Python 3.x, MySQL, Git.

Dependencias: 
Flask
Flask-SQLAlchemy
Flask-Login
pymysql
openpyxl
werkzeug

#Pasos de Instalación:
Clonar el repositorio / Descomprimir carpeta .zip.
Crear entorno virtual (python -m venv venv).
Instalar librerías (pip install -r requirements.txt).
Importar la base de datos MySQL.
Ejecutar el servidor (python app.py).
Credenciales de acceso por defecto (ej: admin@melodias.com / 12345).
